body {
  background: #232323;
}

.square {
  /* Setting three squares per row */
  width: 30%;
  padding-bottom: 30%;
  float: left;

  /* space between color squares */
  margin: 1.66%;
}

#container {
  /* center grid of squares */
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  color: white;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}
