body {
  background: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
  /* Setting three squares per row */
  width: 30%;
  padding-bottom: 30%;
  float: left;
  border-radius: 10%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;

  /* space between color squares */
  margin: 1.66%;
}

#container {
  /* center grid of squares */
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: white;
  text-align: center;
  line-height: 1.1;
  padding: 20px 0; /* padding top and bottom */
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

#color-display {
  font-size: 200%;
}

/* create space between buttons for feedback message */
#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

.selected {
  background: steelblue;
  color: white;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

button:hover {
  color: white;
  background: steelblue;
}
